// Breakpoints
$mobile: 649;
$tabletSmall: 650;
$tabletLarge: 768;
$desktop: 1025;

// Colors
// Primary
$orange-light: #fa4616;
$orange: #da3c12;
$charcoal: #333132;
$white: #fff;
$black: #000;
$off-white: #f1f1f1;

// Secondary
$grey1: #63666a;
$grey2: #949494;
$grey3: #c8c8c8;
$grey4: #ddd;
$burnt-orange: #da3c12;

// Notifications
$notification-red: #e21a23;
$notification-light-red: #ffebea;
$notification-yellow: #ffae58;
$notification-light-yellow: #fff0e0;
$notification-green: #00853d;
$notification-light-green: #e7f3ed;

// Form error
$error-border: #cb333b;
$error-background: #ffebea;
